RAZORPAY_KEY_ID=rzp_live_okuya61wjMrp9y
RAZORPAY_KEY_SECRET=e51BZ5B2KAxTlgUTrEJ3wSVj
GOOGLE_CLIENT_ID=615511474684p-61sm2dlm425kvocs9qofafgikgb8hmbg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
SESSION_SECRET=change-this-session-secret
SERVER_PORT=4000
CLIENT_ORIGIN=http://localhost:3000
DEV_BYPASS_LOGIN=false
DEV_BYPASS_USER_ID=dev-user
DEV_BYPASS_NAME=Dev User
DEV_BYPASS_EMAIL=dev@example.com
DEV_BYPASS_ALLOWED_ORIGINS=http://localhost:3000

